:root {
	--blue: #128ee6;
	--yellow: #fffd98;
	--yellow2: #ffbf00;
	--grey: #dedede;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

body {
	width: 100%;
	height: max(100vh, max-content);
}

input {
	height: 50%;
	border: 0;
	background-color: var(--grey);
	border-radius: 20px;
}

p,
button,
h3 {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

p {
	font-weight: 400;
	font-size: 0.9rem;
}

button {
	width: 25%;
	height: 50%;
	font-size: 0.7rem;
	font-weight: 600;
	background-color: var(--blue);
	color: white;
	border: none;
	border-radius: 15px;
	line-height: 1;
}

h3 {
	font-weight: 600;
	margin-top: 1.2em;
	margin-bottom: 10px;
}

hr {
	height: 2px;
	border: none;
	border-radius: 8px;
	background-color: var(--grey);
	margin-block: 1em;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.header-child-div {
	width: 100%;
	padding-inline: 1em;
	gap: 1em;
	align-items: center;
	justify-content: center;
}

.pfp-div {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: var(--yellow2);
	border-radius: 50%;
}

.big-pfp-div {
	width: 50px;
	height: 50px;
	aspect-ratio: 1/1;
}

.main-profile-name {
	font-weight: bold;
}

.card {
	width: 100%;
	height: max(25vh, max-content);
	padding-block: 1.5em;
	padding-inline: 1em;
	background-color: white;
	border-left: 8px solid var(--yellow2);
	border-radius: 8px;
}

.card-heading {
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 0.2em;
}

.card-body {
	line-height: 1.2;
	color: #757575;
	margin-bottom: 2em;
}

.icons-div {
	justify-self: right;
	gap: 0.8em;
}

.announcements-heading {
	font-weight: 600;
}

.announcements-body {
	line-height: 1.2;
	color: #757575;
	font-size: 0.8rem;
}

.trending-profile-div {
	align-items: center;
	gap: 0.5em;
}

.trending-pfp-div {
	width: 45px;
	height: 45px;
}

.trending-profile-name-and-description-div {
	display: inline-block;
	line-height: 1.4;
}

.trending-profile-name {
	font-size: 0.9rem;
}

.trending-profile-description {
	font-size: 0.86rem;
	color: #757575;
}

#big-pfp-text-div {
	display: inline-block;
}

#main-div {
	width: 100%;
	height: 100%;
	grid-template: 25vh 1fr / 1fr 3fr;
}

#sidebar-div {
	background-color: var(--blue);
	grid-row: 1 / 3;
}

#header-div {
	height: 25vh;
	background-color: white;
	grid-template: 1fr 1fr 1.5fr 1.5fr / 1fr;
}

#header-child-div-buttons {
	justify-content: space-evenly;
}

#main-content-div {
	box-sizing: content-box;
	background-color: var(--grey);
	padding-inline: 1em;
}

#projects-div, #announcements-div {
	margin-bottom: 10px;
}

#projects-div {
	gap: 1em;
}

#announcements-div {
	width: 100%;
	padding: 2em;
	border-radius: 8px;
	background-color: white;
}

#trending-div {
	width: 100%;
	flex-direction: column;
	gap: 1.5em;
	padding: 1.5em;
	margin-bottom: 30px;
	border-radius: 8px;
	background-color: white;
}

#trending-pfp-div-1 {
	background-color: #95d7e6;
}

#trending-pfp-div-3 {
	background-color: #6e6e6e;
}

#trending-pfp-div-4 {
	background-color: #f2aae7;
}