:root {
	--blue: #128ee6;
	--yellow: #fffd98;
	--yellow2: #ffbf00;
	--grey: #dedede;
	--card-shadow: 3px 3px 5px -1px rgb(165, 165, 165);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

body {
	width: 100%;
	height: max(100vh, max-content);
}

input {
	width: 100%;
	height: max(35%, 18px);
	border: 0;
	background-color: var(--grey);
	padding-block: 0.2em;
	padding-inline: 0.8em;
	border-radius: 20px;
	font-size: 0.8rem;
}

input:focus {
	outline-color: var(--blue);
}

p,
button,
h3,
input {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

p {
	font-weight: 400;
	font-size: 0.9rem;
}

button {
	width: 35%;
	height: 32px;
	font-size: 0.7rem;
	font-weight: 600;
	background-color: var(--blue);
	color: white;
	border: none;
	border-radius: 15px;
	line-height: 1;
}

h3 {
	font-weight: 600;
	margin-top: 1.2em;
	margin-bottom: 10px;
}

hr {
	height: 2px;
	border: none;
	border-radius: 8px;
	background-color: var(--grey);
	margin-block: 1em;
}

svg {
	width: 40px;
}

img {
	width: 75%;
	height: 75%;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.nav-div {
	flex-direction: column;
	gap: 0.7em;
}

.icon-and-link-div {
	align-items: center;
	gap: 0.2em;
}

.icon-and-link-div i {
	font-size: 0.7rem;
}

.nav-link {
	font-weight: 700;
	font-size: 0.8rem;
}

.header-child-div {
	width: 100%;
	gap: 0.8em;
	align-items: center;
	justify-content: center;
}

.fa-bell {
	font-size: 1.15rem;
}

.pfp-div {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: var(--yellow2);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 0.1em;
	padding-top: 0.1em;
}

.monkey-pfp-div {
	padding-top: 0;
}

.big-pfp-div {
	width: 55px;
	height: 55px;
	aspect-ratio: 1/1;
}

.main-profile-name {
	font-size: 0.95rem;
	font-weight: 800;
}

.big-main-profile-name {
	font-size: 1rem;
	font-weight: 800;
}

.card-link {
	line-height: 0;
	color: black;
}

.card {
	width: 100%;
	height: max(25vh, max-content);
	padding-block: 1.5em;
	padding-inline: 1em;
	background-color: white;
	border-left: 8px solid var(--yellow2);
	border-radius: 8px;
	box-shadow: var(--card-shadow);
}

.card-heading {
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 0.2em;
}

.card-body {
	line-height: 1.2;
	color: #757575;
	margin-bottom: 2em;
}

.icons-div {
	justify-self: right;
	gap: 0.8em;
}

.announcements-heading {
	font-weight: 600;
}

.announcements-body {
	line-height: 1.2;
	color: #757575;
	font-size: 0.8rem;
}

.trending-profile-div {
	align-items: center;
	gap: 0.5em;
}

.trending-pfp-div {
	width: 45px;
	height: 45px;
}

.trending-profile-name-and-description-div {
	display: inline-block;
	line-height: 1.4;
}

.trending-profile-name {
	font-size: 0.9rem;
}

.trending-profile-description {
	font-size: 0.86rem;
	color: #757575;
}

#main-div {
	width: 100%;
	height: 100%;
	grid-template: 25vh 1fr / clamp(100px, 25vw, 220px) 3fr;
}

#sidebar-div {
	color: white;
	background-color: var(--blue);
	padding-inline: 0.2em;
	padding-block: 1em;
	text-align: center;
	grid-row: 1 / 3;
	grid-template-rows: max-content max-content max-content;
	gap: 2em;
}

#sidebar-heading-div {
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}

#sidebar-heading-div > h3 {
	font-weight: 600;
	margin: 0;
}

#header-div {
	position: relative;
	height: 25vh;
	background-color: white;
	padding-inline: 1.4em;
	padding-bottom: 0.5em;
	box-shadow: 0 4px 3px -1px rgb(185, 185, 185);
	grid-template: 1fr 1fr / repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 1.5fr;
}

#header-child-div-small-pfp {
	gap: 1.2em;
}

#big-pfp-text-div {
	line-height: 1.3;
	display: inline-block;
}

#big-pfp-text-div p:first-child {
	font-size: 0.7rem;
	font-weight: 700;
}

#header-child-div-buttons {
	gap: 1.5em;
	justify-content: space-evenly;
}

#main-content-div {
	box-sizing: content-box;
	background-color: var(--grey);
	padding-inline: 1em;
}

#projects-div,
#announcements-div {
	margin-bottom: 10px;
}

#projects-div {
	gap: 1em;
}

#announcements-div {
	width: 100%;
	padding: 2em;
	border-radius: 8px;
	background-color: white;
	box-shadow: var(--card-shadow);
}

#trending-div {
	width: 100%;
	flex-direction: column;
	gap: 1.5em;
	padding: 1.5em;
	margin-bottom: 30px;
	border-radius: 8px;
	background-color: white;
	box-shadow: var(--card-shadow);
}

#trending-pfp-div-1 {
	background-color: #95d7e6;
}

#tiger-pfp {
	margin-top: 0.2em;
}

#trending-pfp-div-3 {
	background-color: #999999;
}

#lion-pfp {
	width: 80%;
	height: 80%;
}

#trending-pfp-div-4 {
	background-color: #f2aae7;
}

#giraffe-pfp {
	width: 68%;
	height: 68%;
}


/* @media only screen and (max-height: 425px) {
	
} */

@media only screen and (min-width: 780px) {
	button {
		font-size: 0.8rem;
	}
	.main-profile-name {
		font-size: 1rem;
	}
	#main-div {
		grid-template-rows: 150px 1fr;
	}
	#sidebar-div {
		padding-left: 1em;
	}
	#sidebar-heading-div {
		justify-content: left;
	}
	#sidebar-heading-div > h3 {
		font-size: 1.4rem;
	}
	#header-div {
		height: 150px;
		column-gap: 2em;
		padding-inline: 2em;
	}
	#header-child-div-small-pfp {
		justify-content: right;
		padding-right: 1em;
	}
	#header-child-div-big-pfp {
		justify-content: left;
	}
}