:root {
	--blue: #128ee6;
	--yellow: #fffd98;
	--yellow2: #ffbf00;
	--grey: #dedede;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

body {
	width: 100%;
	height: max(100vh, max-content);
}

input {
	height: 50%;
	border: 0;
	background-color: var(--grey);
	border-radius: 20px;
}

button {
	width: 20%;
	background-color: var(--blue);
	color: white;
	border: none;
	font-weight: bold;
	border-radius: 15px;
}

h3 {
	margin-top: 1em;
	margin-bottom: 10px;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.header-child-div {
	width: 100%;
	padding-left: 1em;
	gap: 1em;
	align-items: center;
}

.pfp-div {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: var(--yellow2);
	border-radius: 50%;
}

.big-pfp-div {
	width: 45px;
	height: 45px;
	aspect-ratio: 1/1;
}

.profile-name {
	font-weight: bold;
}

.card {
	width: 100%;
	height: 15vh;
	background-color: white;
	border-left: 8px solid var(--yellow2);
	border-radius: 5px;
}

#big-pfp-text-div {
	display: inline-block;
}

#main-div {
	width: 100%;
	height: 100%;
	grid-template: 1fr 6fr / 1fr 3fr;
}

#sidebar-div {
	background-color: var(--blue);
	grid-row: 1 / 3;
}

#header-div {
	height: 20vh;
	background-color: white;
	grid-template: 1fr 1fr 1.5fr 1.5fr / repeat(auto-fit, 390px);
}

#main-content-div {
	box-sizing: content-box;
	background-color: var(--grey);
	padding-inline: 1em;
}

#projects-div {
	gap: 1em;
}
